// Define global variables and reusable styles
@import 'variable.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.loading-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  